@import url("https://fonts.googleapis.com/css?family=Meera+Inimai&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  padding-top: 69px;
  font-family: 'Meera Inimai', sans-serif;
}

body .abs {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
}

body .abs .toast {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

body .abs .toast .toast-body {
  background-color: #ff7315;
  color: #3a3535;
  font-style: italic;
  font-size: 15px;
}

#nav {
  background-color: #232020;
}

#nav .navbar .navbar-brand {
  color: #ff7315;
  font-size: 29px;
}

#nav .nav-item a {
  border-right: 3px solid transparent;
  color: #ff7315;
}

#nav .nav-item a:hover {
  color: #f4f4f4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-right: 3px solid #ff7315;
}

#nav .social {
  width: 60px;
  height: 60px;
  background-color: #ff7315;
  border-radius: 50%;
  text-decoration: none;
  color: #f4f4f4;
  font-size: 28px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#nav .social:hover {
  -webkit-box-shadow: 0px 0px 15px 10px #141414;
          box-shadow: 0px 0px 15px 10px #141414;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#nav .form-inline button {
  color: #ff7315;
  border: 1px solid #ff7315;
}

#nav .form-inline button:hover {
  background-color: #ff7315;
  color: #232020;
}

#nav p {
  color: #6c757d;
}

#nav p a {
  color: #ff7315;
}

.naslov {
  background-color: #232020;
  color: #ff7315;
  border-bottom: 5px solid #ff7315;
}

.naslov p {
  color: #797979;
}

.naslov .orange {
  color: #ff7315;
}

.naslov .btn {
  background-color: #ff7315;
  color: #232020;
}

#gore #bread {
  background-color: #232020;
}

#gore #bread ol {
  background-color: #232020;
}

#gore #bread ol li a {
  color: #ff7315;
}

.card {
  border: none;
  position: relative;
}

.card:hover .card-img-top {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card .slika {
  overflow: hidden;
}

.card .card-img-top {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card .card-body {
  background-color: #f4f4f4;
}

.card .card-footer {
  border-radius: 0px;
  border-bottom: 3px solid #ff7315;
  background-color: #232020;
}

.card .card-footer .btn {
  color: #232020;
  background-color: #ff7315;
  border: 0px;
}

.card .floating {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50% 50%;
  background-color: #232020;
  color: #ff7315;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  font-weight: 900;
  text-decoration: none;
  right: 10px;
  bottom: 165px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card .floating:hover {
  background-color: #ff7315;
  color: #232020;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.pagination .page-item .page-link {
  color: #ff7315;
  background-color: #232020;
  border: 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pagination .page-item .page-link:hover {
  color: #232020;
  background-color: #ff7315;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pagination .active .page-link {
  background-color: #ff7315;
  color: #232020;
}

.pagination .disabled .page-link {
  background-color: #3a3535;
}

.f-size-23 {
  font-size: 23px;
}

.f-size-20 {
  font-size: 20px;
}

.f-size-35 {
  font-size: 35px;
}

#footer {
  background-color: #232020;
  border-top: 5px solid #ff7315;
}

#footer p, #footer a, #footer h4 {
  color: #ff7315;
}

#footer .fab {
  font-size: 20px;
}

@media only screen and (max-width: 575.98px) {
  h2 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 768px) {
  #margin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #margin #_2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #margin #_3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #footer {
    background-image: url("../img/png.png");
    background-position: 98% 82%;
    background-size: 150px;
    background-repeat: no-repeat;
  }
}
/*# sourceMappingURL=adopt.css.map */