@import url('https://fonts.googleapis.com/css?family=Meera+Inimai&display=swap');
$orange:#ff7315;
$gray:#3a3535;
$gray-dark:#232020;
$white: #f4f4f4;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Meera Inimai', sans-serif;
}
.toast{
    position: fixed;
    bottom: 20px;
    left:20px;
    border-bottom: 3px solid $orange;
    border-radius: 0;
    font-size: 15px;
    z-index: 20;
    pointer-events: none; // allow clicking through toast container
        .toast-header{
            background-color: $gray-dark;
            border: none;
        }
        .toast-body{
            background-color: $gray-dark;
            color: $orange;
            font-style: italic;
        }
}
#hideNav{
    a{
        &:hover{
            color: $white;
        }
    }
}
.slide-in-top {
	animation: slide-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#hideNav{
    background-color: $gray-dark; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: -500px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.4s;
    z-index: 50;
}

// Animation from top
@keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }
  .slide-in-left{
      animation: slide-in-left 0.7s cubic-bezier(0.25, 0.460, 0.450, 0.940) both;
  }
// Animation from left
@keyframes slide-in-left{
    0%{
        transform: translateX(-1000px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.orange{
    color:$orange;
}
#menuLogo{
    .nav-item{
        a{
            transition: 0.2s;
            &:hover{
                color: $gray-dark;
                transform: translateX(30px);
                transition: 0.2s;
            }
        }
    }
    .fa-facebook{
        color: #4267b2;
        &:hover{
            color: $orange;
        }
    }
    .fa-github{
        color: #3a3535;
        &:hover{
            color: $orange;
        }
    }
    .fa-twitter{
        color:#1da1f2;
        &:hover{
        color: $orange !important;
    }
    }
}
#smallResNav{
    background-color: $gray-dark;
}
#hideNav, #smallResNav{
    .navbar{
        .navbar-brand{
            color: $orange;
            font-size: 29px;
            transition: 0.3s;
        }
    }
    .nav-item{
        a{
            border-right: 3px solid transparent;
            color: $orange;
            &:hover{
                color: $white;
                transition: 0.3s;
                border-right: 3px solid $orange;
            }
        }
    }
    .social{
        width:60px;
        height:60px;
        background-color: $orange;
        border-radius: 50%;
        text-decoration: none;
        color: $white;
        font-size: 28px;
        transition: 0.2s;
        &:hover{
            box-shadow: 0px 0px 15px 10px #141414;
            transition: 0.2s;
        }
    }
    p{
        color: #6c757d;
        a{
            color: $orange;
        }
    }
}
.f-size-20{
    font-size: 20px;
}
.f-size-23{
    font-size:23px;
}
.f-size-35{
    font-size: 35px;
}
.f-size-80{
    font-size: 80px;
}
#mainSection{
    .fa-search, .fa-paw, .fa-home{
        color:$orange;
    }
}
.carousel-item{
    height: 600px;
} 
.carousel-item img{
    height: 600px;
}
.roundT{
    border-radius: 15px 15px 0px 0px;
    background-color: $gray-dark;
    color:$orange;
    border-bottom: 5px solid $orange;
}
.search{
    background-color: $white;
    border-bottom: 5px solid $gray-dark;
    .btn-dark{
        color: $gray-dark;
        background-color: $orange;
        border: none;
    }
}
.btn-new{
    background-color: $gray-dark;
    color: $orange;
    font-size: 20px;
    &:hover{
        background-color: $gray !important;
        color: $orange;
}
}
.dropdown-menu{
    background-color: $gray-dark !important;
    font-size: 20px;
    .dropdown-item{
        color: $orange !important;
        &:hover{
            background-color: $gray !important;
        }
    }
    .active{
        background-color: $orange !important;
        color: $gray-dark !important;
        &:hover{
            color: $orange !important;
        }
    }
}
.card{
        width: 250px;
        border: none;
        position: relative;
        &:hover{
            .card-img-top{
                transform:scale(1.1);
                transition: 0.3s;
            }
        }
        .slika{
            overflow: hidden;
        }
        .card-img-top{
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            transition: 0.3s;
        }
        .card-body{
            background-color: $white;
        }
        .card-footer{
            border-radius: 0px;
            border-bottom: 3px solid $orange;
            background-color: $gray-dark;
            .btn{
                color: $gray-dark;
                background-color: $orange;
                border: 0px;
            }
        }
        .floating{
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50% 50%;
            background-color: $gray-dark;
            color: $orange;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            font-weight: 900;
            text-decoration: none;
            right: 10px;
            bottom: 165px ;
            transition: all 0.2s ease-in-out;
            &:hover{
                background-color: $orange;
                color: $gray-dark;
                transform: scale(1.2);
            }
        }
    }
#kartica{
    border: none;
    color:$orange;
    &:hover{
         color:$gray-dark;
    }
    .card-body{
        background-color: #fff;
    }
}
#footer{
    border-top: 5px solid $orange;
    background-color: $gray-dark;
    p, a{
        color:$orange;
    }
    i{
        font-size: 20px;
    }
}
@media (max-width: 575.98px) { 
    h1{
        font-size: 22px;
    }
    #slajder{
        .carousel-caption{
            h3{
                font-size: 17px;
            }
        }
    }
    #footer{
        #footerLink{
            font-size: 15px;
        }
    }
}
@media (max-width: 768px){
    body{
        padding-top: 69px;
    }
    #margin{
        display: flex;
        flex-direction: column;
    }
    #margin #_2{
        order: 2;
    }
    #margin #_3{
        order: 3;
    }
    #footer{
        background-image: url('../img/png.png');
        background-position: 98% 82%;
        background-size: 150px;
        background-repeat: no-repeat;
    }
}
@media (max-width: 991.98px) {
    #menuLogo{
        .nav-item{
            a{
                transition: 0.2s;
                &:hover{
                    color: $gray-dark;
                    transform: translateX(0);
                }
            }
        }
    }
    .carousel-item {
      height: 100%;
      img{
          height: 100%;
      }
    }
  }